@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');

/* header */
.hero{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;

    /* background: #eff4fd; */
}
.logo{
    width: 8%;
    height: 8%;
    /* position: absolute; */
    bottom: 0;

}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ff5656
}
/* header */

.full-body{
    background:white;
    width: 60%;
    margin-left: 20%;
}
.header{
    display: flex;
    width: 100%;
    height: 400px;
    background:white;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    margin-bottom: 3%;

}
.header-left{
    width: 40%;
    background: white;

}
.header-right{
    width: 60%;
    background: white;
}

.header-left-profile-picture img{
    width: 100%;
    margin-left: 22%;
    height: auto;

}

.header-profile p {
    font-family: 'Amiri', serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20%;
}
.header-text-profile p {
    font-family: 'Amiri', serif;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 10%;
    text-align: justify;

}

.content-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: white;
    margin-bottom: 3%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background: white;
    margin-bottom: 3%;
}
.content-left{
    width: 90%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}
.content-center{
    width: 90%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}


.content-right{
    width: 90%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}
.footer{
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
    width: 50%;
    height: auto;
    background: white;
    margin-bottom: 3%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2); */

    /* justify-content: space-between; */
    width: 100%;
    height: auto;
    background: white;
    margin-bottom: 3%;
}
.footer-content-left{
    width: 95%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}
.footer-content-center{
    width: 95%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}

.footer-content-right{
    width: 95%;
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}